@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 1.2;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1200px;
}

.header_backgroud {
  background: linear-gradient(-180deg, #f53d2d, #f63);
}

@layer utilities {
  .layoutAuth {
    @apply max-w-[1040px] object-contain bg-[url('assets/bg-auth.png')] bg-no-repeat w-full mx-auto bg-center flex justify-end items-center min-h-[600px];
  }
}

.modal::after {
  content: '';
  width: 100%;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}
