@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 1.2;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1200px;
}
